.fc .fc-scrollgrid {
  border-width: 0 0 0 0; /* 外側の枠線消す */
  font-size: 20px;
  font-weight: normal;
}
.fc-theme-standard td, .fc-theme-standard th {
  height: 60px; /* 枠の高さ指定 */
  border: none; /* 枠のボーダー消す */
}

.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-frame {
  background: rgba(49,159,141,0.1);
}
/* 日付を枠の高さいっぱいに */
.fc .fc-daygrid-day-frame {
  height: 100%;
}
/* カレンダーの+more表示変更 */
.fc-direction-ltr .fc-daygrid-more-link {
  float: left;
  font-size: 13px;
  opacity: 0.7;
  color:white;
}
.fc-h-event .fc-event-title-container {
  font-size: 13px;
}

/* headerToolbarのスタイル変更 */
.fc .fc-button-primary {
  background: none;
  border: none;
  color: white;
}
.fc .fc-button-primary:disabled {
  background: none;
  border: none;
  color: white;
  opacity: 1;
}
.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
  background-color: initial;
  border-color: initial;
  color: white;
}
/* 丸みを消す */
.fc .fc-button {
  border-radius: 0;
}
/* 20oo年o月のスタイル変更 */
.fc .fc-toolbar-title {
  font-size: 1.4em;
  color: white;
}
/* 日付を枠の左へ */
.fc .fc-daygrid-day-top {
  align-items: start;
  justify-content: start;
  text-align: start;
}
.fc .fc-popover {
  z-index: 2;
}
/* 日付のスタイル変更 */
.fc .fc-daygrid-day-number {
  color: white;
}
/* 曜日のスタイル変更 */
.fc .fc-col-header-cell-cushion {
  color: white;
}
/* week表示時 */
.fc .fc-timegrid-slot-label-cushion {
  color: white;
}
.fc .fc-timegrid-slot {
  border-color: white;
}
.fc .fc-list-table td {
  color: rgb(139 92 246);
}
.fc a[data-navlink] {
  color: rgb(139 92 246);
}
/* all-day logo */
.fc .fc-timegrid-axis-cushion {
  color: white;
}